@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    color: black;
}

a {
    text-decoration: none;
    color: black;
    padding-bottom: 8px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 8px;
    font-size: 12px;
    border-bottom: 2px solid black;
    transition: .3s;
    border-radius: 8px 8px 0 0
}

a.active, a:hover {
    color: #fff;
    background: #000;
}

.navbar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 24px;
}



.main-container {
    height: 85vh;
    justify-content: center;
}

.main-container,
form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form input {
    outline: none;
    border: 2px solid black;
    padding: 10px 15px;
    border-radius: 7px;
    width: 100%;
    font-family: 'Poppins';
    font-size: 14px;
}

form label {
    font-weight: 600;
    margin-top: 10px;
    width: 100%;
}

input[type="submit"] {
    color: #fff;
    font-weight: 500;
    background: #000;
    transition: .3s;
    cursor: pointer;
    margin-top: 20px;
}

input[type="submit"]:hover {
    /* box-shadow: 5px 5px 0px #E1005F; */
    background-color: #0f0f0f;
    border-color: #0f0f0f;
}